{% extends "::layout.html.twig" %}

{% block body %}
<div style='height:40px'></div>
<h2>Ajout nouvel utilisateur</h2>
 	<div class="alert alert-success">
  		Utilisateur ajouté avec succès
	</div>
{% endblock %}